* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
  padding: 2%;
}
.wrapper {
  width: 100%;
  height: 100%;
}
:global(.column) {
  float: left;
  padding: 10px;
}
.wrapper_right {
  width: 80%;
  padding-right: 16px;
  padding-left: 16px;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .wrapper_right {
    width: 100%;
  }
  .repositories_left,
  .repositories_right {
    width: 100%;
  }
  .form-sel,
  .form_input {
    width: 100%;
  }
  .form_details {
    border-bottom: none;
  }
}
@media (max-width: 1300px) {
  .form_sel,
  .form_input {
    width: 100%;
  }
}
